<div class="row">
  <div class="col-3">
    <ul class="list-group bg-primary" *ngFor="let sect of secctions" (click)="clickList($event)">
      <li class="list-group-item list-group-item-action list-group-item-primary" id="{{sect[0]}}">{{sect[1]}}</li>
    </ul>
    <div class="center">
      <button type="button" class="btn btn-outline-primary" id="start-game-button" disabled>Start Game</button>
    </div>
  </div>
  <div class="col-9">
    <config-card [literals]="literals" [elements]="elementsDropDown" (selectedElementEvent)="dropDownEvent($event)"></config-card>
  </div>
</div>
